<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHttpPlatform"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpPlatform processPath=".\.venv\Scripts\python.exe"
                  arguments="wsgi.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\App_Data\logs\python.log"
                  startupTimeLimit="120"
                  requestTimeout="00:10:00"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="FLASK_DEBUG" value="0" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="SESSION_COOKIE_SECURE" value="true" />
        <environmentVariable name="PREFERRED_URL_SCHEME" value="https" />
        <environmentVariable name="TRUST_PROXY_HEADERS" value="true" />
      </environmentVariables>
    </httpPlatform>

    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>
