<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <customErrors mode="RemoteOnly" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="PythonBridge"
           path="*"
           verb="*"
           type="PythonBridgeHandler"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>

  <appSettings>
    <add key="PYTHON_BRIDGE_PORT" value="0" />
    <add key="PYTHON_BRIDGE_STARTUP_TIMEOUT_SECONDS" value="60" />
    <add key="PYTHON_BRIDGE_PROXY_TIMEOUT_SECONDS" value="60" />
    <add key="PYTHON_BRIDGE_BASE_PATH" value="/GRP-04-09" />
    <add key="FLASK_DEBUG" value="0" />
    <add key="FLASK_ENV" value="production" />
    <add key="SESSION_COOKIE_SECURE" value="true" />
    <add key="PREFERRED_URL_SCHEME" value="https" />
    <add key="TRUST_PROXY_HEADERS" value="true" />
    <add key="PROXY_FIX_X_FOR" value="1" />
    <add key="PROXY_FIX_X_PROTO" value="1" />
    <add key="PROXY_FIX_X_HOST" value="1" />
    <add key="PROXY_FIX_X_PREFIX" value="1" />
    <add key="ENABLE_QUICK_LOGIN" value="true" />
    <add key="APP_BASE_URL" value="https://soit-iis.mandela.ac.za/GRP-04-09" />
    <add key="PYTHONUNBUFFERED" value="1" />
    <add key="PYTHONDONTWRITEBYTECODE" value="1" />
    <add key="PYTHONIOENCODING" value="utf-8" />
  </appSettings>
</configuration>
